---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="text-dark-gray flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <div class="border-b-[1px] border-dark-gray pb-2">INFO</div>
      <div class="text-sm">
        Annie Rui Qiu is a Chinese-American artist working in painting, sculpture, and printmaking. 
        She was raised in Shanghai and is a recent graduate of Dartmouth College. She investigates the multitudes of differences that separate her from the past she is a part of: 
        space, language, culture, time. Her work asks what it means to be perpetually foreign – to the spaces she inhabits and herself as well.
      </div>
      <div class="text-sm">
        邱烨是一位美籍华裔艺术家，从事绘画和雕塑工作。她在上海长大，最近毕业于达特茅斯学院
        她探讨了她与过去的众多差异：空间、语言、文化、时间。她的作品探讨了永远陌生意味着什么——
        对她居住的空间和她自己来说。
      </div>
      <div class="text-sm cursor-default"><a href="mailto:annierqiu@gmail.com" class="border-b-[1px] border-dark-gray">Email</a>
        <br />
        <a href="https://www.instagram.com/annieruiqiu" class="border-b-[1px] border-dark-gray">Instagram</a></div>
    </div>
    <div class="flex flex-col gap-4">
      <div class="border-b-[1px] border-dark-gray pb-2">CV</div>
      <div class="text-sm flex flex-col gap-4">

        <div>
          <div>EDUCATION</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div>B.A. in Studio Art and Computer Science, Dartmouth College</div>
            </div>
          </div>
        </div>

        <div>
          <div>EXHIBITIONS</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div><i>Dog Days 三伏天</i>, ACENTRICSPACE, Zhujiajiao, Shanghai, CN</div>
              <div><i>Senior Majors Exhibition</i>, Jaffe-Friede and Nearburg Arts Forum, Hanover, NH</div>
              <div><i>Maximalism</i>, Jaffe-Friede and Nearburg Arts Forum, Hanover, NH</div>
            </div>
          </div>
        </div>

        <div>
          <div>RESIDENCIES</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div><i>ACENTRICSPACE</i>, Zhujiajiao, Shanghai, CN</div>
            </div>
          </div>
        </div>

        <div>
          <div>AWARDS</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div><i>Robert Read Prize for Achievement in Studio Art</i>, Dartmouth College</div>
              <div><i>Class of 1960/Residential Office Purchase Award</i>, Dartmouth College</div>
              <div><i>Citations of Academic Excellence in Senior Seminar, Painting I, and Drawing I</i>, Dartmouth College</div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

  </div>
</Layout>
