---
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <div class="text-dark-gray flex flex-col gap-8">
    <div class="flex flex-col gap-4">
      <div class="border-b-[1px] border-dark-gray pb-2">INFO</div>
      <div class="text-sm">
        Annie Rui Qiu (b. 2002) is an artist from Shanghai, China living in New Hampshire. She paints interior scenes that toe the line between familiarity and foreignness. 
        Household objects, figures in communal spaces, and glimpses of abstracted exteriors are depicted with mixed perspectives and varied patterns. 
        Moments from everyday routines and imagined interior spaces offer spaces for introspection. 
        Her work explores diasporic memory and asks what it means to live in a changing world.
      </div>
      <div class="text-sm cursor-default">Email: <a href="mailto:annierqiu@gmail.com" class="underline underline-offset-4">annierqiu@gmail.com</a>
        <br />
        Instagram: <a href="https://www.instagram.com/annieruiqiu" class="underline underline-offset-4 cursor-pointer" target="_blank">@annieruiqiu</a></div>
    </div>
    <div class="flex flex-col gap-4">
      <div class="border-b-[1px] border-dark-gray pb-2">CV</div>
      <div class="text-sm flex flex-col gap-4">

        <div>
          <div>EDUCATION</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div>B.A. in Studio Art and Computer Science, Dartmouth College</div>
            </div>
          </div>
        </div>

        <div>
          <div>EXHIBITIONS</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div><i>Dog Days 三伏天</i>, ACENTRICSPACE, Zhujiajiao, Shanghai, CN</div>
              <div><i>Senior Majors Exhibition</i>, Jaffe-Friede and Nearburg Arts Forum, Hanover, NH</div>
              <div><i>Maximalism</i>, Jaffe-Friede and Nearburg Arts Forum, Hanover, NH</div>
            </div>
          </div>
        </div>

        <div>
          <div>RESIDENCIES</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div><i>ACENTRICSPACE</i>, Zhujiajiao, Shanghai, CN</div>
            </div>
          </div>
        </div>

        <div>
          <div>AWARDS</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div><i>Robert Read Prize for Achievement in Studio Art</i>, Dartmouth College</div>
              <div><i>Class of 1960/Residential Office Purchase Award</i>, Dartmouth College</div>
              <div><i>Citations of Academic Excellence in Senior Seminar, Painting I, and Drawing I</i>, Dartmouth College</div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

  </div>
</Layout>
