---
import SmallerLayout from '../layouts/SmallerLayout.astro';
---
<SmallerLayout>
  <div class="text-dark-gray flex flex-col gap-8 ml-0">
    <div class="flex flex-col gap-4 ml-0">

      <div class="text-sm mt-2">
        Annie Rui Qiu (b. 2002) is an artist from Shanghai, China living in New Hampshire. She uses painting to explore
        feelings of familiarity and foreignness. 
        Her work employs color, perspective, and pattern to evoke scenes from memory.
      </div>
      <div class="text-sm cursor-default">Email: <a href="mailto:annierqiu@gmail.com" class="text-light-gray hover:text-dark-gray transition">annierqiu@gmail.com</a>
        <br />
        Instagram: <a href="https://www.instagram.com/annieruiqiu" class="text-light-gray cursor-pointer hover:text-dark-gray transition" target="_blank">@annieruiqiu</a></div>
    </div>
    <div class="flex flex-col gap-2">
      <div class="flex">
        <div class="">CV</div>
      </div>
      <div class="text-sm flex flex-col gap-2">
        <div>
          <div class="font-medium">Education</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div>B.A. in Studio Art and Computer Science, Dartmouth College</div>
            </div>
          </div>
        </div>

        <div>
          <div class="font-medium">Exhibitions</div>
          <div class="flex flex-row">
            <div class="mr-2">2025</div>
            <div>
              <div>Two-Person Exhibition, <a href="https://www.thedartmouth.com/article/2025/04/day-in-day-out-exhibtion" class="text-light-gray hover:text-dark-gray transition">
                <i>Day In, Day Out: Annie Qiu and Tristan MacDonald</i>
              </a>, Visual Arts Center Atrium Gallery, Hanover, NH</div>
            </div>
          </div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div>Group Exhibition, <i>Dog Days 三伏天</i>, ACENTRICSPACE, Zhujiajiao, Shanghai, CN</div>
              <div>Group Exhibition, <i>Senior Majors Exhibition</i>, Jaffe-Friede and Nearburg Arts Forum, Hanover, NH</div>
              <div>Group Exhibition, <i>Maximalism</i>, Jaffe-Friede and Nearburg Arts Forum, Hanover, NH</div>
            </div>
          </div>
        </div>

        <div>
          <div class="font-medium">Awards/Residencies</div>
          <div class="flex flex-row">
            <div class="mr-2">2024</div>
            <div>
              <div>Artist in Residence, <i>ACENTRICSPACE</i>, Zhujiajiao, Shanghai, CN</div>
              <div><i>Robert Read Prize for Achievement in Studio Art</i>, Dartmouth College</div>
              <div><i>Class of 1960/Residential Office Purchase Award</i>, Dartmouth College</div>
              <div><i>Citations of Academic Excellence in Senior Seminar, Painting I, and Drawing I</i>, Dartmouth College</div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

  </div>
</SmallerLayout>
