---
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.scss";
import Head from "./Head.astro";

---

<!doctype html>
<html lang="en">
	<Head />
	<body>
		<div class="flex flex-col min-h-dvh justify-between ">
			<div class="flex flex-col sm:flex-row h-auto">
				<div class="sm:inline sm:w-[16em] md:w-[16em] lg:w-[24em]">
					<Sidebar/>
				</div>
				<div class="flex flex-col w-full p-3 sm:p-6 sm:h-screen">
					<slot/>
				</div>
			</div>
		</div>
	</body>
</html>