---
import Sidebar from "../components/Sidebar.astro";
import "../styles/global.scss";
import Head from "./Head.astro";
---

<!doctype html>
<html lang="en">
	<Head />
	<body>
		<div class="flex flex-col min-h-dvh justify-between ">
    <div class="flex flex-col sm:flex-row h-auto mr-2">
			<div class="sm:inline sm:w-[16em] md:w-[16em] lg:w-[24em]">
				<Sidebar/>
			</div>
			<div class="flex flex-col w-full p-3 sm:p-6">
				<div class="max-w-[40em]">
					<slot/>
				</div>
			</div>
		</div>
		<div class="flex justify-center p-4 font-mono text-xs text-light-gray relative bottom-0">© 2024 ANNIE RUI QIU</div>
	</div>
	</body>
</html>